@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

body {
  background-color: #333;
  color: #eee;
  max-width: 800px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16px;
  font-family: 'Atkinson Hyperlegible Next', arial, sans-serif;
  box-sizing: border-box;
}

footer embed {
  width: 24px;
  height: 24px;
}

nav a {
  color: #eee;
  text-decoration: none;
  margin-left: 15px;
}

nav a:hover {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex-grow: 1;
}

section {
  margin-top: 40px;
}

footer {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.project-card {
  background-color: #444;
  padding: 8px;
  border-radius: 8px;
  transition: transform 0.1s ease-in-out;
}

.project-card h3 {
  margin: 4px;
}

.project-card p {
  margin: 4px;
}

.project-card:hover {
  transform: scale(1.01);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-card a {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width:800px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:600px) {
  ul {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
  }
}
